<!-- <div id="slider">
    <img class="w-full" src="/images/slider.jpg"/>
</div> -->
<section class="bg-[#F2F0F1] py-28" style="background-image: url('/images/slider.jpg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" >
        
        <div class="flex flex-col lg:flex-row items-center justify-between gap-8 lg:gap-12" >
            
            <div class="lg:w-1/2 flex flex-col justify-center text-center lg:text-left h-full" >
                
                <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-900 leading-tight mb-4 tracking-tight">
                    FIND CLOTHES<br>
                    THAT MATCHES<br>
                    YOUR STYLE
                </h1>
                <p class="text-base md:text-lg text-gray-600 mb-8 max-w-md mx-auto lg:mx-0">
                    Browse through our diverse range of meticulously crafted garments, designed
                    to bring out your individuality and cater to your sense of style.
                </p>
                <a href="#" class="inline-block bg-black text-white text-base font-semibold py-3 px-6 rounded-md hover:bg-gray-800 transition duration-300 w-fit lg:mx-0 mx-auto mb-10">
                    Shop Now
                </a>
                
                <div class="w-full pt-4 flex flex-col md:flex-row justify-center lg:justify-start gap-8">
                    <div class="text-center lg:text-left w-full md:w-auto">
                        <p class="text-2xl md:text-3xl font-extrabold text-gray-900">200+</p>
                        <p class="text-gray-600 text-sm">International Brands</p>
                    </div>
                    <div class="text-center lg:text-left w-full md:w-auto">
                        <p class="text-2xl md:text-3xl font-extrabold text-gray-900">2,000+</p>
                        <p class="text-gray-600 text-sm">High-Quality Products</p>
                    </div>
                    <div class="text-center lg:text-left w-full md:w-auto">
                        <p class="text-2xl md:text-3xl font-extrabold text-gray-900">30,000+</p>
                        <p class="text-gray-600 text-sm">Happy Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>